# ignore all files and dirs
*

# unignore all dirs
!*/

# unignore specific files with following extensions
!*.cpp
!*.py
!*.js
!*.json
!*.java
!*.txt
!*.md
!*.png
!*.pdf
!*.zip
!*.jpeg
!*.jpg
!*.html
!*.docx
!*.tex
!*.ipynb

build/
cmake-build-debug/